In [2]:
import numpy as np
import pandas as pd

# Series

In [3]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [4]:
data.values # массив numpy

array([ 0.25,  0.5 ,  0.75,  1.  ])

In [5]:
data.index # pd.Index

RangeIndex(start=0, stop=4, step=1)

In [6]:
data[1]

0.5

In [7]:
data[1:3]

1    0.50
2    0.75
dtype: float64

Индексы обьекта Series описываются явно и связываются со значениями

In [8]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], 
                index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [9]:
data['b']

0.5

In [10]:
data[0]

0.25

In [11]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [12]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
Texas         26448193
dtype: int64

In [13]:
population['California']

38332521

In [14]:
population['Florida':'New York']

Florida     19552860
Illinois    12882135
New York    19651127
dtype: int64

## Создание обьекта Series

pd.Series(data, index=index)

In [15]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [16]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [17]:
pd.Series({2:'a', 1:'b', 3:'c'})

1    b
2    a
3    c
dtype: object

# DataFrame

In [18]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
dtype: int64

In [19]:
states = pd.DataFrame({'population': population,
                      'area': area})
states

              area  population
California  423967    38332521
Florida     170312    19552860
Illinois    149995    12882135
New York    141297    19651127
Texas       695662    26448193

In [20]:
states.index

Index(['California', 'Florida', 'Illinois', 'New York', 'Texas'], dtype='object')

In [21]:
states.columns

Index(['area', 'population'], dtype='object')

### DataFrame задает соответствие имени столбца обьекту Series с данными этого столбца

In [22]:
states['area']

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
Name: area, dtype: int64

## Создание обьекта DataFrame

### Из одного обьекта Series

In [23]:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
Texas         26448193

### Из списка словарей

In [24]:
data = [{'a':i, 'b': 2 * i}
       for i in range(3)]
data

[{'a': 0, 'b': 0}, {'a': 1, 'b': 2}, {'a': 2, 'b': 4}]

In [25]:
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [26]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

### Из словаря обьектов Series

In [27]:
pd.DataFrame({'population': population,
             'area': area})

              area  population
California  423967    38332521
Florida     170312    19552860
Illinois    149995    12882135
New York    141297    19651127
Texas       695662    26448193

### Из двумерного массива Numpy

In [28]:
data = np.random.rand(3, 2)
data

array([[ 0.85821569,  0.78683164],
       [ 0.63571569,  0.49744064],
       [ 0.63503015,  0.39690037]])

In [29]:
pd.DataFrame(data, 
            columns=['foo', 'bar'],
            index=['a', 'b', 'c'])

        foo       bar
a  0.858216  0.786832
b  0.635716  0.497441
c  0.635030  0.396900

### Из структурированного массива Numpy

In [30]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0,  0.), (0,  0.), (0,  0.)],
      dtype=[('A', '<i8'), ('B', '<f8')])

In [31]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

# Index

In [32]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [33]:
ind[1]

3

In [34]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [35]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [36]:
# индексы неизменяемые
ind[1] = 0

TypeError: Index does not support mutable operations

### Index как упорядоченное множество

In [38]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [39]:
indA & indB  # intersection

Int64Index([3, 5, 7], dtype='int64')

In [40]:
indA | indB  # union

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [41]:
indA ^ indB  # symmetric difference

Int64Index([1, 2, 9, 11], dtype='int64')